body {
    background-color: #F0F3F5;
}

th, td {
    border: 1px dashed #7B2D26;
}

/*Selector de clase*/
.song {
    background-color: #D7C9AA;
    color: #F0F3F5;
}

.song:hover {
    background-color: #0B7A75;
    color: #F0F3F5;
}

.video {
    width: 320px;
    height: 240px;
}

/*Selector de ID*/
#songs {
    width: 100%;
}

#rock-img-header {
    width: 30%;
}

.center {
    text-align: center;
}